.container{
     display: flex;
     margin-left: 400px;
     flex-wrap: wrap;
     margin-top: 100px;
     border-radius: 10px;
     background: chocolate;
     width: 450px;
     height: 500px;
 }

 .header {
     display: flex;
     margin-left: 400px;
     flex-wrap: wrap;
     margin-top: 100px;
     border-radius: 10px;
     background: rgb(163, 152, 144);
     width: 100px;
     height: 50px;
 }